section.ellams {
  background-color: $absinthe;
  text-transform: uppercase;
}
section.ellams p {
  text-transform: none;
  font-style: italic;
  font-weight: 800;
  font-size: 24px;
  line-height: 10px;
  letter-spacing: 1px;
}
section.ellams p:last-of-type {
  font-size: 18px;
  font-style: normal;
  text-transform: uppercase;
}
section.ellams h1 {
  font-family: $font-oswald;
  letter-spacing: 6px;
  font-size: 70px;
}
section.ellams h2 {
  font-variant: small-caps;
  text-transform: capitalize;
  font-size: 38px;
  font-weight: 800;
  letter-spacing: 3px;
}
section.ellams h2:first-letter {
  font-weight: 200;
  font-size: 36px;
}
section.ellams h3 {
  position: absolute;
  font-family: $font-krona;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 6px;
}
section.ellams h3:first-of-type {
  -webkit-transform: translate(50px) rotate(-90deg);
  -webkit-transform-origin: 0;
  transform: translate(50px) rotate(-90deg);
  transform-origin: 0;
}
section.ellams h3:last-of-type {
  -webkit-transform: translate(250px) rotate(90deg);
  -webkit-transform-origin: 200px;
  transform: translate(250px) rotate(90deg);
  transform-origin: 200px;
}
section.ellams h4 {
  letter-spacing: 5px;
  font-family: $font-krona;
  font-weight: normal;
  font-size: 20px;
}
