body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-variant-ligatures: common-ligatures;
  font-variant-ligatures: common-ligatures;
  -moz-font-feature-settings: "kern=1";
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  font-feature-settings: "kern";
  font-kerning: normal;
  color: #333;
}
body p {
  font-family: "Cardo", serif;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  margin: 0px;
  font-family: "Raleway", sans-serif;
}
body h1 {
  font-size: 56px;
}
body h2 {
  font-size: 46px;
}
body h3 {
  font-size: 36px;
}
body h4 {
  font-size: 26px;
}
body h5 {
  font-size: 16px;
}
body h6 {
  font-size: 12px;
}
section.combinade {
  background-color: #243f68;
  color: #ebd1b7;
}
section.combinade h1 {
  font-family: "Herr Von Muellerhoff", cursive;
  font-size: 120px;
  font-weight: normal;
  border-bottom: 6px solid #ebd1b7;
  display: inline-block;
  line-height: 80px;
  padding-top: 30px;
  margin-bottom: 20px;
}
section.combinade h2 {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 18px;
  padding-bottom: 10px;
  letter-spacing: 3px;
  line-height: 10px;
}
section.combinade h3 {
  font-family: "Krona One", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 30px;
}
section.combinade h4 {
  font-family: "Krona One", sans-serif;
  font-size: 9px;
  letter-spacing: 1px;
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: absolute;
}
section.combinade .tl {
  -webkit-transform: translate(0px) rotate(-25deg);
  -webkit-transform-origin: 0;
  transform: translate(0px) rotate(-25deg);
  transform-origin: 96px 110px;
}
section.combinade .tr {
  -webkit-transform: translate(0px) rotate(25deg);
  -webkit-transform-origin: 0;
  transform: translate(0px) rotate(25deg);
  transform-origin: 305px 530px;
}
section.combinade .bl {
  font-size: 10px;
  letter-spacing: 3px;
  -webkit-transform: translate(0px) rotate(25deg);
  -webkit-transform-origin: 0;
  transform: translate(0px) rotate(25deg);
  transform-origin: 100px -50px;
}
section.combinade .br {
  font-size: 10px;
  letter-spacing: 3px;
  -webkit-transform: translate(0px) rotate(-25deg);
  -webkit-transform-origin: 0;
  transform: translate(0px) rotate(-25deg);
  transform-origin: 290px -530px;
}
section.jello {
  background-color: #ebd1b7;
  text-transform: uppercase;
  color: #363f59;
}
section.jello p {
  font-family: "Krona One", sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
  -webkit-transform: translate(-100px) rotate(-20deg);
  -webkit-transform-origin: 0px;
  transform: translate(-100px) rotate(-20deg);
  transform-origin: 0px 0px;
  position: relative;
}
section.jello p.one {
  top: 115px;
}
section.jello p.two {
  left: 110px;
  top: 90px;
}
section.jello p.three {
  left: 220px;
  top: 60px;
}
section.jello h1 {
  color: #d42c2c;
  font-size: 120px;
  font-weight: 800;
  letter-spacing: 4px;
  line-height: 120px;
}
section.jello h1:first-letter {
  font-size: 140px;
}
section.jello h2 {
  font-size: 14px;
  font-family: "Krona One", sans-serif;
  font-weight: normal;
  letter-spacing: 4px;
}
section.jello h2.strawberry {
  font-size: 24px;
  letter-spacing: 1px;
  color: #d42c2c;
  border-bottom: 2px solid #d42c2c;
  display: inline-block;
  padding-bottom: 6px;
  padding-top: 6px;
  margin-bottom: 20px;
}
section.jello h3 {
  font-family: "Oswald", sans-serif;
  font-weight: normal;
  position: absolute;
  top: 290px;
  left: 20px;
}
section.jello h3:last-of-type {
  left: 400px;
}
section.jello h4 {
  font-size: 14px;
  line-height: 20px;
  font-family: "Krona One", sans-serif;
  font-weight: normal;
}
section.jello h4.smallcaps {
  font-variant: small-caps;
  text-transform: none;
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
}
section.jello h5 {
  font-family: "Krona One", sans-serif;
  font-size: 10px;
  font-weight: normal;
  letter-spacing: 4px;
  color: #d42c2c;
}
section.ellams {
  background-color: #5a763d;
  text-transform: uppercase;
}
section.ellams p {
  text-transform: none;
  font-style: italic;
  font-weight: 800;
  font-size: 24px;
  line-height: 10px;
  letter-spacing: 1px;
}
section.ellams p:last-of-type {
  font-size: 18px;
  font-style: normal;
  text-transform: uppercase;
}
section.ellams h1 {
  font-family: "Oswald", sans-serif;
  letter-spacing: 6px;
  font-size: 70px;
}
section.ellams h2 {
  font-variant: small-caps;
  text-transform: capitalize;
  font-size: 38px;
  font-weight: 800;
  letter-spacing: 3px;
}
section.ellams h2:first-letter {
  font-weight: 200;
  font-size: 36px;
}
section.ellams h3 {
  position: absolute;
  font-family: "Krona One", sans-serif;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 6px;
}
section.ellams h3:first-of-type {
  -webkit-transform: translate(50px) rotate(-90deg);
  -webkit-transform-origin: 0;
  transform: translate(50px) rotate(-90deg);
  transform-origin: 0;
}
section.ellams h3:last-of-type {
  -webkit-transform: translate(250px) rotate(90deg);
  -webkit-transform-origin: 200px;
  transform: translate(250px) rotate(90deg);
  transform-origin: 200px;
}
section.ellams h4 {
  letter-spacing: 5px;
  font-family: "Krona One", sans-serif;
  font-weight: normal;
  font-size: 20px;
}
section.swallows {
  background-color: #d0a960;
  text-transform: uppercase;
}
section.swallows h1.script {
  text-transform: none;
  font-family: "Sacramento", cursive;
  font-weight: 200;
  font-size: 120px;
  letter-spacing: 0px;
  position: relative;
  -webkit-transform: translate(100px) rotate(-20deg);
  -webkit-transform-origin: 0;
  transform: translate(100px) rotate(-10deg);
  transform-origin: 350px 700px;
}
section.swallows h1 {
  letter-spacing: 4px;
  font-weight: 800;
  font-size: 56px;
}
section.swallows h2 {
  font-family: "Oswald", sans-serif;
  font-size: 28px;
  letter-spacing: 4px;
  position: relative;
  line-height: 40px;
}
section.swallows h2:first-of-type {
  left: -90px;
  padding-top: 10px;
}
section.swallows h2:last-of-type {
  left: 84px;
  padding-bottom: 10px;
}
section.swallows h3 {
  font-weight: 800;
  display: inline-block;
  position: relative;
  line-height: 26px;
  font-size: 22px;
  left: 60px;
  top: -10px;
  letter-spacing: 1px;
}
section.swallows h4 {
  font-family: "Krona One", sans-serif;
  font-size: 18px;
  border-bottom: 4px solid #333;
  display: inline-block;
  padding-bottom: 5px;
}
section.swallows h5 {
  font-family: "Krona One", sans-serif;
  font-weight: normal;
  letter-spacing: 2px;
}
section.swallows h5:first-of-type {
  display: inline-block;
  font-style: italic;
  position: absolute;
  top: 30px;
  left: 120px;
  font-size: 20px;
}
section.swallows h5.slant {
  -webkit-transform: translate(100px) rotate(-20deg);
  -webkit-transform-origin: 0;
  transform: translate(100px) rotate(-10deg);
  transform-origin: 350px 700px;
  position: relative;
  top: -50px;
  left: 30px;
  font-size: 10px;
}
section.swallows h5:last-of-type {
  font-size: 9px;
}
section.topmost {
  background-color: #ece1c6;
  color: #434f6f;
  position: relative;
  text-align: center;
}
section.topmost .circle {
  position: relative;
  top: -30px;
  display: inline-block;
  height: 600px;
  left: -50px;
  width: 600px;
}
section.topmost .circle .inner {
  position: relative;
  top: 160px;
}
section.topmost .circle .inner h1 {
  position: relative;
  top: -45px;
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  -webkit-transform: skewY(-15deg) skewX(5deg);
  -ms-transform: skewY(-15deg) skewX(5deg);
  transform: skewY(-15deg) skewX(5deg);
}
section.topmost .circle .inner h1 .inline {
  line-height: 50px;
  padding-top: 10px;
  display: inline-block;
}
section.topmost .circle .inner h1 .inline:first-letter {
  font-weight: 200;
}
section.topmost .circle .inner h1 .smallcaps {
  font-variant: small-caps;
  font-size: 85px;
  letter-spacing: 4px;
}
section.topmost .circle .inner h1 .and {
  display: inline-block;
  vertical-align: top;
  padding-right: 10px;
  padding-top: 4px;
}
section.topmost .circle .inner .bottomright {
  position: relative;
  left: 60px;
  top: -30px;
}
section.topmost .circle .inner .bottomright h2 {
  font-family: "Oswald", sans-serif;
  font-weight: normal;
  font-size: 22px;
  letter-spacing: 0.5px;
  line-height: 28px;
}
section.topmost .circle .inner .topleft {
  position: relative;
  left: -30px;
  top: -20px;
}
section.topmost .circle .inner .topleft h3 {
  letter-spacing: 2px;
  position: relative;
  top: 0px;
  left: 0px;
  font-family: "Oswald", sans-serif;
  font-variant: small-caps;
  font-size: 22px;
  line-height: 10px;
}
section.topmost .circle .inner .topleft h3:last-of-type {
  display: inline-block;
  background-color: #ece1c6;
  line-height: 14px;
  padding-bottom: 4px;
  margin-top: 10px;
  position: relative;
  top: -30px;
  left: 10px;
}
section.topmost .circle .inner .topleft h4.script {
  font-family: "Herr Von Muellerhoff", cursive;
  font-weight: 400;
  font-size: 70px;
  display: inline-block;
  position: relative;
  left: -60px;
  top: -7px;
  z-index: -10;
}
section.topmost .circle .warped1 {
  position: absolute;
  top: 40px;
  left: -10px;
}
section.topmost .circle .warped2 {
  position: absolute;
  top: 70px;
  left: -10px;
}
section.topmost .circle .warped1 > span[class^=w]:nth-of-type(n + 0) {
  display: block;
  position: absolute;
  -o-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
}
section.topmost .circle .warped1 span {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 0.65;
  white-space: pre;
  overflow: visible;
  padding: 0px;
}
section.topmost .circle .warped1 .w0 {
  -o-transform: rotate(-0.72rad);
  -ms-transform: rotate(-0.72rad);
  transform: rotate(-0.72rad);
  width: 18px;
  height: 13px;
  left: 136.87px;
  top: 72.11px;
}
section.topmost .circle .warped1 .w1 {
  -o-transform: rotate(-0.63rad);
  -ms-transform: rotate(-0.63rad);
  transform: rotate(-0.63rad);
  width: 14px;
  height: 13px;
  left: 155.3px;
  top: 59.05px;
}
section.topmost .circle .warped1 .w2 {
  -o-transform: rotate(-0.55rad);
  -ms-transform: rotate(-0.55rad);
  transform: rotate(-0.55rad);
  width: 15px;
  height: 13px;
  left: 171.01px;
  top: 48.21px;
}
section.topmost .circle .warped1 .w3 {
  -o-transform: rotate(-0.47rad);
  -ms-transform: rotate(-0.47rad);
  transform: rotate(-0.47rad);
  width: 15px;
  height: 13px;
  left: 188.47px;
  top: 38.47px;
}
section.topmost .circle .warped1 .w4 {
  -o-transform: rotate(-0.39rad);
  -ms-transform: rotate(-0.39rad);
  transform: rotate(-0.39rad);
  width: 14px;
  height: 13px;
  left: 206.71px;
  top: 30.37px;
}
section.topmost .circle .warped1 .w5 {
  -o-transform: rotate(-0.32rad);
  -ms-transform: rotate(-0.32rad);
  transform: rotate(-0.32rad);
  width: 12px;
  height: 13px;
  left: 224.6px;
  top: 24.16px;
}
section.topmost .circle .warped1 .w6 {
  -o-transform: rotate(-0.25rad);
  -ms-transform: rotate(-0.25rad);
  transform: rotate(-0.25rad);
  width: 12px;
  height: 13px;
  left: 240.92px;
  top: 19.44px;
}
section.topmost .circle .warped1 .w7 {
  -o-transform: rotate(-0.18rad);
  -ms-transform: rotate(-0.18rad);
  transform: rotate(-0.18rad);
  width: 14px;
  height: 13px;
  left: 257.52px;
  top: 15.69px;
}
section.topmost .circle .warped1 .w8 {
  -o-transform: rotate(-0.1rad);
  -ms-transform: rotate(-0.1rad);
  transform: rotate(-0.1rad);
  width: 15px;
  height: 13px;
  left: 276.35px;
  top: 13.09px;
}
section.topmost .circle .warped1 .w9 {
  -o-transform: rotate(-0.04rad);
  -ms-transform: rotate(-0.04rad);
  transform: rotate(-0.04rad);
  width: 5px;
  height: 13px;
  left: 296.31px;
  top: 12.13px;
}
section.topmost .circle .warped1 .w10 {
  -o-transform: rotate(0.02rad);
  -ms-transform: rotate(0.02rad);
  transform: rotate(0.02rad);
  width: 13px;
  height: 13px;
  left: 306.31px;
  top: 12.06px;
}
section.topmost .circle .warped1 .w11 {
  -o-transform: rotate(0.09rad);
  -ms-transform: rotate(0.09rad);
  transform: rotate(0.09rad);
  width: 13px;
  height: 13px;
  left: 324.27px;
  top: 13.15px;
}
section.topmost .circle .warped1 .w12 {
  -o-transform: rotate(0.17rad);
  -ms-transform: rotate(0.17rad);
  transform: rotate(0.17rad);
  width: 14px;
  height: 13px;
  left: 342.1px;
  top: 15.63px;
}
section.topmost .circle .warped1 .w13 {
  -o-transform: rotate(0.25rad);
  -ms-transform: rotate(0.25rad);
  transform: rotate(0.25rad);
  width: 15px;
  height: 13px;
  left: 360.66px;
  top: 19.72px;
}
section.topmost .circle .warped1 .w14 {
  -o-transform: rotate(0.33rad);
  -ms-transform: rotate(0.33rad);
  transform: rotate(0.33rad);
  width: 14px;
  height: 13px;
  left: 379.84px;
  top: 25.31px;
}
section.topmost .circle .warped1 .w15 {
  -o-transform: rotate(0.38rad);
  -ms-transform: rotate(0.38rad);
  transform: rotate(0.38rad);
  width: 5px;
  height: 13px;
  left: 397.91px;
  top: 30.42px;
}
section.topmost .circle .warped1 .w16 {
  -o-transform: rotate(0.44rad);
  -ms-transform: rotate(0.44rad);
  transform: rotate(0.44rad);
  width: 14px;
  height: 13px;
  left: 406.65px;
  top: 36.32px;
}
section.topmost .circle .warped1 .w17 {
  -o-transform: rotate(0.52rad);
  -ms-transform: rotate(0.52rad);
  transform: rotate(0.52rad);
  width: 15px;
  height: 13px;
  left: 423.37px;
  top: 45.46px;
}
section.topmost .circle .warped1 .w18 {
  -o-transform: rotate(0.6rad);
  -ms-transform: rotate(0.6rad);
  transform: rotate(0.6rad);
  width: 12px;
  height: 13px;
  left: 440.49px;
  top: 55.37px;
}
section.topmost .circle .warped1 .w19 {
  -o-transform: rotate(0.67rad);
  -ms-transform: rotate(0.67rad);
  transform: rotate(0.67rad);
  width: 12px;
  height: 13px;
  left: 454.15px;
  top: 65.48px;
}
section.topmost .circle .warped1 .w20 {
  -o-transform: rotate(0.74rad);
  -ms-transform: rotate(0.74rad);
  transform: rotate(0.74rad);
  width: 12px;
  height: 13px;
  left: 467.07px;
  top: 76.52px;
}
section.topmost .circle .warped1 .w21 {
  -o-transform: rotate(0.81rad);
  -ms-transform: rotate(0.81rad);
  transform: rotate(0.81rad);
  width: 12px;
  height: 13px;
  left: 479.21px;
  top: 88.42px;
}
section.topmost .circle .warped2 {
  width: 500px;
}
section.topmost .circle .warped2 > span[class^=w]:nth-of-type(n + 0) {
  display: block;
  position: absolute;
  -o-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50%;
}
section.topmost .circle .warped2 span {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-style: normal;
  line-height: 0.65;
  white-space: pre;
  overflow: visible;
  padding: 0px;
}
section.topmost .circle .warped2 .w0 {
  -o-transform: rotate(7.29rad);
  -ms-transform: rotate(7.29rad);
  transform: rotate(7.29rad);
  width: 14px;
  height: 13px;
  left: 89.76px;
  top: 354.55px;
}
section.topmost .circle .warped2 .w1 {
  -o-transform: rotate(7.22rad);
  -ms-transform: rotate(7.22rad);
  transform: rotate(7.22rad);
  width: 12px;
  height: 13px;
  left: 100.85px;
  top: 369.45px;
}
section.topmost .circle .warped2 .w2 {
  -o-transform: rotate(7.14rad);
  -ms-transform: rotate(7.14rad);
  transform: rotate(7.14rad);
  width: 15px;
  height: 13px;
  left: 110.83px;
  top: 383.95px;
}
section.topmost .circle .warped2 .w3 {
  -o-transform: rotate(7.07rad);
  -ms-transform: rotate(7.07rad);
  transform: rotate(7.07rad);
  width: 12px;
  height: 13px;
  left: 124.85px;
  top: 397.57px;
}
section.topmost .circle .warped2 .w4 {
  -o-transform: rotate(7rad);
  -ms-transform: rotate(7rad);
  transform: rotate(7rad);
  width: 13px;
  height: 13px;
  left: 137.09px;
  top: 409.55px;
}
section.topmost .circle .warped2 .w5 {
  -o-transform: rotate(6.92rad);
  -ms-transform: rotate(6.92rad);
  transform: rotate(6.92rad);
  width: 14px;
  height: 13px;
  left: 150.95px;
  top: 421.21px;
}
section.topmost .circle .warped2 .w6 {
  -o-transform: rotate(6.85rad);
  -ms-transform: rotate(6.85rad);
  transform: rotate(6.85rad);
  width: 12px;
  height: 13px;
  left: 166.72px;
  top: 431.5px;
}
section.topmost .circle .warped2 .w7 {
  -o-transform: rotate(6.8rad);
  -ms-transform: rotate(6.8rad);
  transform: rotate(6.8rad);
  width: 5px;
  height: 13px;
  left: 181.76px;
  top: 438.5px;
}
section.topmost .circle .warped2 .w8 {
  -o-transform: rotate(6.76rad);
  -ms-transform: rotate(6.76rad);
  transform: rotate(6.76rad);
  width: 5px;
  height: 13px;
  left: 190.55px;
  top: 443.27px;
}
section.topmost .circle .warped2 .w9 {
  -o-transform: rotate(6.7rad);
  -ms-transform: rotate(6.7rad);
  transform: rotate(6.7rad);
  width: 14px;
  height: 13px;
  left: 199.11px;
  top: 449.55px;
}
section.topmost .circle .warped2 .w10 {
  -o-transform: rotate(6.62rad);
  -ms-transform: rotate(6.62rad);
  transform: rotate(6.62rad);
  width: 15px;
  height: 13px;
  left: 216.72px;
  top: 456.77px;
}
section.topmost .circle .warped2 .w11 {
  -o-transform: rotate(6.54rad);
  -ms-transform: rotate(6.54rad);
  transform: rotate(6.54rad);
  width: 12px;
  height: 13px;
  left: 235.88px;
  top: 462.29px;
}
section.topmost .circle .warped2 .w12 {
  -o-transform: rotate(6.48rad);
  -ms-transform: rotate(6.48rad);
  transform: rotate(6.48rad);
  width: 12px;
  height: 13px;
  left: 252.42px;
  top: 466.19px;
}
section.topmost .circle .warped2 .w13 {
  -o-transform: rotate(6.41rad);
  -ms-transform: rotate(6.41rad);
  transform: rotate(6.41rad);
  width: 12px;
  height: 13px;
  left: 269.19px;
  top: 468.95px;
}
section.topmost .circle .warped2 .w14 {
  -o-transform: rotate(6.34rad);
  -ms-transform: rotate(6.34rad);
  transform: rotate(6.34rad);
  width: 12px;
  height: 13px;
  left: 286.11px;
  top: 470.55px;
}
section.topmost .circle .warped2 .w15 {
  -o-transform: rotate(6.28rad);
  -ms-transform: rotate(6.28rad);
  transform: rotate(6.28rad);
  width: 5px;
  height: 13px;
  left: 303.1px;
  top: 470.99px;
}
section.topmost .circle .warped2 .w16 {
  -o-transform: rotate(6.24rad);
  -ms-transform: rotate(6.24rad);
  transform: rotate(6.24rad);
  width: 5px;
  height: 13px;
  left: 313.1px;
  top: 470.85px;
}
section.topmost .circle .warped2 .w17 {
  -o-transform: rotate(6.19rad);
  -ms-transform: rotate(6.19rad);
  transform: rotate(6.19rad);
  width: 14px;
  height: 13px;
  left: 323.07px;
  top: 469.92px;
}
section.topmost .circle .warped2 .w18 {
  -o-transform: rotate(6.11rad);
  -ms-transform: rotate(6.11rad);
  transform: rotate(6.11rad);
  width: 15px;
  height: 13px;
  left: 341.89px;
  top: 467.34px;
}
section.topmost .circle .warped2 .w19 {
  -o-transform: rotate(6.05rad);
  -ms-transform: rotate(6.05rad);
  transform: rotate(6.05rad);
  width: 4px;
  height: 13px;
  left: 361.6px;
  top: 464.45px;
}
section.topmost .circle .warped2 .w20 {
  -o-transform: rotate(6.01rad);
  -ms-transform: rotate(6.01rad);
  transform: rotate(6.01rad);
  width: 5px;
  height: 13px;
  left: 370.3px;
  top: 462.1px;
}
section.topmost .circle .warped2 .w21 {
  -o-transform: rotate(5.96rad);
  -ms-transform: rotate(5.96rad);
  transform: rotate(5.96rad);
  width: 12px;
  height: 13px;
  left: 379.72px;
  top: 458.17px;
}
section.topmost .circle .warped2 .w22 {
  -o-transform: rotate(5.89rad);
  -ms-transform: rotate(5.89rad);
  transform: rotate(5.89rad);
  width: 12px;
  height: 13px;
  left: 395.64px;
  top: 452.22px;
}
section.topmost .circle .warped2 .w23 {
  -o-transform: rotate(5.83rad);
  -ms-transform: rotate(5.83rad);
  transform: rotate(5.83rad);
  width: 4px;
  height: 13px;
  left: 411.52px;
  top: 446.95px;
}
section.topmost .circle .warped2 .w24 {
  -o-transform: rotate(5.8rad);
  -ms-transform: rotate(5.8rad);
  transform: rotate(5.8rad);
  width: 5px;
  height: 13px;
  left: 419.52px;
  top: 442.71px;
}
section.topmost .circle .warped2 .w25 {
  -o-transform: rotate(5.74rad);
  -ms-transform: rotate(5.74rad);
  transform: rotate(5.74rad);
  width: 12px;
  height: 13px;
  left: 427.8px;
  top: 436.12px;
}
section.topmost .circle .warped2 .w26 {
  -o-transform: rotate(5.67rad);
  -ms-transform: rotate(5.67rad);
  transform: rotate(5.67rad);
  width: 15px;
  height: 13px;
  left: 441.83px;
  top: 426.08px;
}
section.topmost .circle .warped2 .w27 {
  -o-transform: rotate(5.59rad);
  -ms-transform: rotate(5.59rad);
  transform: rotate(5.59rad);
  width: 15px;
  height: 13px;
  left: 457.73px;
  top: 413.95px;
}
section.topmost .circle .warped2 .w28 {
  -o-transform: rotate(5.53rad);
  -ms-transform: rotate(5.53rad);
  transform: rotate(5.53rad);
  width: 5px;
  height: 13px;
  left: 473.99px;
  top: 404.04px;
}
section.topmost .circle .warped2 .w29 {
  -o-transform: rotate(5.47rad);
  -ms-transform: rotate(5.47rad);
  transform: rotate(5.47rad);
  width: 12px;
  height: 13px;
  left: 480.08px;
  top: 394.55px;
}
section.topmost .circle .warped2 .w30 {
  -o-transform: rotate(5.42rad);
  -ms-transform: rotate(5.42rad);
  transform: rotate(5.42rad);
  width: 5px;
  height: 13px;
  left: 492.65px;
  top: 384.55px;
}
section.topmost .circle .warped2 .w31 {
  -o-transform: rotate(5.35rad);
  -ms-transform: rotate(5.35rad);
  transform: rotate(5.35rad);
  width: 18px;
  height: 13px;
  left: 496.48px;
  top: 371.68px;
}
section.topmost .circle .warped2 .w32 {
  -o-transform: rotate(5.26rad);
  -ms-transform: rotate(5.26rad);
  transform: rotate(5.26rad);
  width: 15px;
  height: 13px;
  left: 510.11px;
  top: 353.94px;
}
section.topmost .circle .warped2 .w33 {
  -o-transform: rotate(5.21rad);
  -ms-transform: rotate(5.21rad);
  transform: rotate(5.21rad);
  width: 4px;
  height: 13px;
  left: 522.9px;
  top: 341.41px;
}
section.alum {
  background-color: #568893;
  font-weight: 800;
}
section.alum h1 {
  font-size: 45px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 50px;
  padding: 15px 0px;
}
section.alum h2 {
  font-style: italic;
  font-size: 30px;
  padding-bottom: 15px;
}
section.alum h3 {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
section.alum h4 {
  padding-top: 30px;
  font-size: 16px;
  display: inline-block;
}
section.alum h4:first-of-type {
  padding-right: 80px;
}
section.crax {
  background-color: #e5bfab;
  text-transform: uppercase;
}
section.crax p {
  font-size: 30px;
  font-weight: bold;
  display: inline-block;
  position: relative;
  left: -175px;
  top: 50px;
}
section.crax h1 {
  font-family: "Oswald", sans-serif;
  color: #d42c2c;
  font-weight: bold;
  font-size: 65px;
  letter-spacing: 8px;
  margin: 10px;
  position: relative;
  left: 10px;
}
section.crax .skew-left {
  -webkit-transform: skewY(-15deg) skewX(5deg);
  -ms-transform: skewY(-15deg) skewX(5deg);
  transform: skewY(-15deg) skewX(5deg);
  display: inline-block;
  padding-right: 10px;
}
section.crax .skew-right {
  -webkit-transform: skewY(15deg) skewX(-5deg);
  -ms-transform: skewY(15deg) skewX(-5deg);
  transform: skewY(15deg) skewX(-5deg);
  display: inline-block;
}
section.crax h2 {
  position: relative;
  top: 70px;
  font-weight: 800;
  font-size: 28px;
  line-height: 24px;
  letter-spacing: 1px;
}
section.crax h2:last-of-type {
  font-size: 18px;
}
section.crax h3 {
  font-family: "Krona One", sans-serif;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 8px;
  line-height: 18px;
}
section.crax h4 {
  font-family: "Oswald", sans-serif;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 20px 0px;
}
section.mississippi {
  background-color: #ece1c6;
}
section.mississippi h1 {
  font-family: "Oswald", sans-serif;
  font-variant: small-caps;
  font-size: 90px;
  font-weight: bold;
  letter-spacing: 6px;
  line-height: 70px;
}
section.mississippi h1:first-letter {
  font-weight: normal;
  font-size: 106px;
  vertical-align: middle;
}
section.mississippi h1.railway {
  position: relative;
  font-size: 60px;
  left: 40px;
}
section.mississippi h1.railway:first-letter {
  font-size: 74px;
}
section.mississippi h2 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  letter-spacing: 4px;
  display: inline;
}
section.mississippi h2.angled {
  padding-right: 10px;
  font-size: 24px;
}
section.mississippi h2.angled span {
  position: relative;
  top: -4px;
}
section.mississippi h2.angled .a {
  vertical-align: sub;
}
section.mississippi h2.angled .n {
  vertical-align: text-bottom;
}
section.mississippi h2.angled .d {
  vertical-align: super;
}
section.mississippi h3 {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 26px;
  letter-spacing: 3px;
  position: relative;
  left: 50px;
  top: 6px;
}
section.mississippi h4 {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 2px;
  padding-bottom: 10px;
}
section.mississippi h5 {
  text-transform: uppercase;
  font-size: 20px;
  font-family: "Krona One", sans-serif;
  font-weight: normal;
  font-size: 20px;
  letter-spacing: 4px;
  line-height: 40px;
  padding-top: 20px;
}
section.mississippi .col1,
section.mississippi .col2 {
  line-height: 10px;
  display: inline-block;
  margin-top: 30px;
}
section.mississippi .col1 h5,
section.mississippi .col2 h5 {
  font-size: 9px;
  line-height: 9px;
  padding-top: 10px;
}
section.mississippi .col1 p,
section.mississippi .col2 p {
  font-size: 10px;
}
section.mississippi .col1 p:last-of-type,
section.mississippi .col2 p:last-of-type {
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: bold;
}
section.mississippi .col1 {
  padding-right: 20px;
  border-right: 1px solid #333;
}
section.mississippi .col2 {
  padding-left: 20px;
}
section.blazing {
  background-color: #afc3c6;
}
section.blazing p {
  font-size: 36px;
  font-weight: bold;
  position: relative;
  display: inline-block;
  left: -100px;
}
section.blazing p.frac1,
section.blazing p.frac2 {
  font-size: 20px;
}
section.blazing p.frac1 {
  border-bottom: 1px solid #000;
  top: -20px;
}
section.blazing p.frac2 {
  top: 10px;
  left: -121px;
}
section.blazing p:last-of-type {
  left: 100px;
}
section.blazing h1.script {
  font-family: "Herr Von Muellerhoff", cursive;
  font-weight: normal;
  font-size: 90px;
  line-height: 80px;
  -webkit-transform: translate(100px) rotate(-10deg);
  -webkit-transform-origin: 0;
  transform: translate(100px) rotate(-10deg);
  transform-origin: 350px 700px;
}
section.blazing h2 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 24px;
  letter-spacing: 6px;
  padding-bottom: 40px;
  -webkit-transform: translate(100px) rotate(-10deg);
  -webkit-transform-origin: 0;
  transform: translate(100px) rotate(-10deg);
  transform-origin: 260px 20px;
}
section.blazing h3 {
  font-family: "Oswald", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 26px;
}
section.blazing h4 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;
}
section.blazing h5 {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 12px;
  padding-bottom: 20px;
  padding-top: 20px;
}
section.blazing h5:last-child {
  letter-spacing: 1px;
}
section.cuddle {
  background-color: #ebd1b7;
  position: relative;
}
section.cuddle h1 {
  display: inline-block;
  position: relative;
  color: #d86161;
  font-family: "Krona One", sans-serif;
  font-size: 80px;
  font-weight: normal;
  line-height: 0px;
  opacity: 0.8;
}
section.cuddle h1.dot1,
section.cuddle h1.dot2 {
  font-family: "Cardo", serif;
  top: -26px;
}
section.cuddle h1:first-of-type,
section.cuddle h1:last-of-type {
  font-family: "Oswald", sans-serif;
  font-weight: normal;
  font-size: 150px;
}
section.cuddle h1:first-of-type {
  top: 70px;
  left: -10px;
}
section.cuddle h1:last-of-type {
  top: 70px;
  left: 10px;
}
section.cuddle h2 {
  font-family: "Oswald", sans-serif;
  font-weight: normal;
  line-height: 56px;
}
section.cuddle p {
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 10px;
}
section.cuddle p:first-of-type {
  color: #d86161;
  padding-left: 10px;
}
section.cuddle h3 {
  font-family: "Krona One", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 26px;
  letter-spacing: 6px;
  position: relative;
  z-index: 100;
  left: 8px;
  top: -8px;
}
section.cuddle h4 {
  font-family: "Krona One", sans-serif;
  font-weight: normal;
  font-size: 12px;
  position: relative;
  left: -180px;
  top: 0px;
}
section.furniture {
  background-color: #d0a960;
}
section.furniture h2,
section.furniture h3,
section.furniture h4 {
  text-transform: uppercase;
  letter-spacing: 6px;
  font-weight: 900;
}
section.furniture .script {
  font-family: "Sacramento", cursive;
  text-transform: none;
  font-weight: normal;
  font-size: 100px;
  line-height: 30px;
  letter-spacing: 0px;
  padding-bottom: 20px;
  padding-right: 18px;
  color: #d42c2c;
}
section.furniture h3 {
  line-height: 54px;
}
section.furniture h4 {
  font-weight: 900;
  letter-spacing: 3px;
  line-height: 34px;
}
section.furniture h4:last-of-type {
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 20px;
}
section.songs {
  background-color: #ece1c6;
  text-transform: uppercase;
}
section.songs h2 {
  font-family: "Oswald", sans-serif;
  line-height: 50px;
}
section.songs h4 {
  font-weight: 900;
  letter-spacing: 4px;
  padding-top: 20px;
}
section.songs h4:last-of-type {
  font-style: italic;
  font-weight: 900;
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 0px;
}
section.songs p {
  font-family: "Cardo", serif;
  letter-spacing: 6px;
  font-size: 12px;
  line-height: 30px;
}
section.songs p:last-of-type {
  font-size: 18px;
  text-transform: none;
  font-variant: small-caps;
  line-height: 20px;
  padding-top: 10px;
}
section.songs h5 {
  font-family: "Krona One", sans-serif;
  font-weight: normal;
  font-size: 20px;
  letter-spacing: 8px;
}
section.fish {
  background-color: #80a89c;
  text-transform: uppercase;
}
section.fish h1 {
  font-size: 70px;
  font-weight: 900;
  letter-spacing: 8px;
  position: relative;
  left: -90px;
}
section.fish h3 {
  font-size: 16px;
  letter-spacing: 6px;
}
section.fish h3:first-of-type {
  position: relative;
  top: -80px;
}
section.fish h3:last-of-type {
  padding-top: 15px;
  letter-spacing: 4px;
  font-size: 14px;
}
section.fish h4 {
  font-family: "Krona One", sans-serif;
  font-size: 14px;
  font-weight: normal;
}
section.fish h4:first-of-type {
  position: relative;
  left: -90px;
  letter-spacing: 8px;
}
section.fish h4:last-of-type {
  font-size: 8px;
  font-weight: bold;
  letter-spacing: 5px;
}
section.fish h6 {
  letter-spacing: 4px;
  line-height: 20px;
  display: inline-block;
}
section.fish h6:first-of-type {
  position: relative;
  left: 100px;
  top: -90px;
}
section.kernel {
  background-color: #d42c2c;
  text-transform: uppercase;
}
section.kernel h2 {
  font-family: "Oswald", sans-serif;
  letter-spacing: 1px;
}
section.kernel h3 {
  font-weight: 800;
  font-size: 26px;
  letter-spacing: 2px;
}
section.kernel h3:last-of-type {
  padding-top: 20px;
  font-weight: 900;
}
section.kernel .script {
  font-family: "Herr Von Muellerhoff", cursive;
  font-size: 55px;
  font-weight: normal;
  text-transform: none;
  line-height: 40px;
  padding-top: 15px;
}
section.kernel .script span {
  position: relative;
  left: -12px;
}
section.navy {
  background-color: #ebd1b7;
  text-transform: uppercase;
}
section.navy p.first {
  text-transform: none;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 34px;
  letter-spacing: 4px;
  line-height: 0px;
}
section.navy p:not(.first) {
  text-transform: none;
  position: relative;
  top: -60px;
  font-size: 28px;
  line-height: 0px;
  font-style: italic;
}
section.navy p:not(.first) span {
  text-transform: uppercase;
  font-style: normal;
}
section.navy p:last-of-type {
  text-transform: uppercase;
  font-size: 20px;
  font-style: normal;
}
section.navy h1 {
  font-weight: 900;
  letter-spacing: 4px;
  position: relative;
  left: -46px;
  padding-bottom: 10px;
  top: -10px;
}
section.navy h2.script {
  font-family: "Herr Von Muellerhoff", cursive;
  font-weight: normal;
  text-transform: none;
  font-size: 70px;
  line-height: 70px;
}
section.navy h3 {
  font-family: "Krona One", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 3px;
  position: relative;
  top: -70px;
  left: 115px;
  display: inline-block;
}
section.navy h3:last-of-type {
  position: relative;
  top: -50px;
  left: 45px;
}
section.navy h4 {
  font-size: 20px;
  letter-spacing: 1px;
  position: relative;
  top: -20px;
}
section.navy h5 {
  font-family: "Krona One", sans-serif;
  font-weight: normal;
  font-size: 10px;
  letter-spacing: 3px;
  position: relative;
  top: -36px;
  line-height: 16px;
}
section.navy h5:first-of-type {
  position: relative;
  top: -10px;
}
section.navy hr {
  position: relative;
  top: -42px;
}
body {
  background-color: #333;
}
body nav .infolink {
  position: fixed;
  z-index: 2;
  top: 0px;
  right: 0px;
  padding-top: 20px;
  padding-right: 20px;
  opacity: 0.25;
}
body nav .infolink:hover {
  opacity: 1;
}
body hr {
  border: 0px;
  border-bottom: 1px solid #000;
  width: 75px;
  margin-bottom: 20px;
}
section {
  width: 100%;
  height: 775px;
  display: inline-block !important;
  box-sizing: border-box;
  position: relative;
  z-index: 0;
}
section .content {
  max-width: 500px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  display: block;
}
section a.src:hover .srcimg {
  visibility: visible;
}
section a.src:hover {
  opacity: 1;
}
section .srcimg {
  visibility: hidden;
  position: absolute;
  bottom: 50px;
  left: -110px;
  z-index: 1;
}
section .src {
  position: absolute;
  bottom: 20px;
  left: 49%;
  opacity: 0.25;
  z-index: 1;
}
@media (max-width: 768px) {
  body nav {
    display: none;
  }
}
