body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-variant-ligatures: common-ligatures;
  font-variant-ligatures: common-ligatures;
  -moz-font-feature-settings: "kern=1";
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  font-feature-settings: "kern";
  font-kerning: normal;
  color: #333;
}
body p {
  font-family: "Cardo", serif;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  margin: 0px;
  font-family: "Raleway", sans-serif;
}
body h1 {
  font-size: 56px;
}
body h2 {
  font-size: 46px;
}
body h3 {
  font-size: 36px;
}
body h4 {
  font-size: 26px;
}
body h5 {
  font-size: 16px;
}
body h6 {
  font-size: 12px;
}
section.cuddle {
  background-color: #ebd1b7;
  position: relative;
}
section.cuddle h1 {
  display: inline-block;
  position: relative;
  color: #d86161;
  font-family: "Krona One", sans-serif;
  font-size: 80px;
  font-weight: normal;
  line-height: 0px;
  opacity: 0.8;
}
section.cuddle h1.dot1,
section.cuddle h1.dot2 {
  font-family: "Cardo", serif;
  top: -26px;
}
section.cuddle h1:first-of-type,
section.cuddle h1:last-of-type {
  font-family: "Oswald", sans-serif;
  font-weight: normal;
  font-size: 150px;
}
section.cuddle h1:first-of-type {
  top: 70px;
  left: -10px;
}
section.cuddle h1:last-of-type {
  top: 70px;
  left: 10px;
}
section.cuddle h2 {
  font-family: "Oswald", sans-serif;
  font-weight: normal;
  line-height: 56px;
}
section.cuddle p {
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 10px;
}
section.cuddle p:first-of-type {
  color: #d86161;
  padding-left: 10px;
}
section.cuddle h3 {
  font-family: "Krona One", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 26px;
  letter-spacing: 6px;
  position: relative;
  z-index: 100;
  left: 8px;
  top: -8px;
}
section.cuddle h4 {
  font-family: "Krona One", sans-serif;
  font-weight: normal;
  font-size: 12px;
  position: relative;
  left: -180px;
  top: 0px;
}
section.furniture {
  background-color: #ddb660;
}
section.furniture h2,
section.furniture h3,
section.furniture h4 {
  text-transform: uppercase;
  letter-spacing: 6px;
  font-weight: 900;
}
section.furniture .script {
  font-family: "Sacramento", cursive;
  text-transform: none;
  font-weight: normal;
  font-size: 100px;
  line-height: 30px;
  letter-spacing: 0px;
  padding-bottom: 20px;
  padding-right: 18px;
  color: #d42c2c;
}
section.furniture h3 {
  line-height: 54px;
}
section.furniture h4 {
  font-weight: 900;
  letter-spacing: 3px;
  line-height: 34px;
}
section.furniture h4:last-of-type {
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 20px;
}
section.songs {
  background-color: #ece1c6;
  text-transform: uppercase;
}
section.songs h2 {
  font-family: "Oswald", sans-serif;
  line-height: 50px;
}
section.songs h4 {
  font-weight: 900;
  letter-spacing: 4px;
  padding-top: 20px;
}
section.songs h4:last-of-type {
  font-style: italic;
  font-weight: 900;
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 0px;
}
section.songs p {
  font-family: "Cardo", serif;
  letter-spacing: 6px;
  font-size: 12px;
  line-height: 30px;
}
section.songs p:last-of-type {
  font-size: 18px;
  text-transform: none;
  font-variant: small-caps;
  line-height: 20px;
  padding-top: 10px;
}
section.songs h5 {
  font-family: "Krona One", sans-serif;
  font-weight: normal;
  font-size: 20px;
  letter-spacing: 8px;
}
section.fish {
  background-color: #80a89c;
  text-transform: uppercase;
}
section.fish h1 {
  font-size: 70px;
  font-weight: 900;
  letter-spacing: 8px;
  position: relative;
  left: -90px;
}
section.fish h3 {
  font-size: 16px;
  letter-spacing: 6px;
}
section.fish h3:first-of-type {
  position: relative;
  top: -80px;
}
section.fish h3:last-of-type {
  padding-top: 15px;
  letter-spacing: 4px;
  font-size: 14px;
}
section.fish h4 {
  font-family: "Krona One", sans-serif;
  font-size: 14px;
  font-weight: normal;
}
section.fish h4:first-of-type {
  position: relative;
  left: -90px;
  letter-spacing: 8px;
}
section.fish h4:last-of-type {
  font-size: 8px;
  font-weight: bold;
  letter-spacing: 5px;
}
section.fish h6 {
  letter-spacing: 4px;
  line-height: 20px;
  display: inline-block;
}
section.fish h6:first-of-type {
  position: relative;
  left: 100px;
  top: -90px;
}
section.kernel {
  background-color: #d42c2c;
  text-transform: uppercase;
}
section.kernel h2 {
  font-family: "Oswald", sans-serif;
  letter-spacing: 1px;
}
section.kernel h3 {
  font-weight: 800;
  font-size: 26px;
  letter-spacing: 2px;
}
section.kernel h3:last-of-type {
  padding-top: 20px;
  font-weight: 900;
}
section.kernel .script {
  font-family: "Herr Von Muellerhoff", cursive;
  font-size: 55px;
  font-weight: normal;
  text-transform: none;
  line-height: 40px;
  padding-top: 15px;
}
section.kernel .script span {
  position: relative;
  left: -12px;
}
section.navy {
  background-color: #ebd1b7;
  text-transform: uppercase;
}
section.navy p.first {
  text-transform: none;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 34px;
  letter-spacing: 4px;
  line-height: 0px;
}
section.navy p:not(.first) {
  text-transform: none;
  position: relative;
  top: -60px;
  font-size: 28px;
  line-height: 0px;
  font-style: italic;
}
section.navy p:not(.first) span {
  text-transform: uppercase;
  font-style: normal;
}
section.navy p:last-of-type {
  text-transform: uppercase;
  font-size: 20px;
  font-style: normal;
}
section.navy h1 {
  font-weight: 900;
  letter-spacing: 4px;
  position: relative;
  left: -46px;
  padding-bottom: 10px;
  top: -10px;
}
section.navy h2.script {
  font-family: "Herr Von Muellerhoff", cursive;
  font-weight: normal;
  text-transform: none;
  font-size: 70px;
  line-height: 70px;
}
section.navy h3 {
  font-family: "Krona One", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 3px;
  position: relative;
  top: -70px;
  left: 115px;
  display: inline-block;
}
section.navy h3:last-of-type {
  position: relative;
  top: -50px;
  left: 45px;
}
section.navy h4 {
  font-size: 20px;
  letter-spacing: 1px;
  position: relative;
  top: -20px;
}
section.navy h5 {
  font-family: "Krona One", sans-serif;
  font-weight: normal;
  font-size: 10px;
  letter-spacing: 3px;
  position: relative;
  top: -36px;
  line-height: 16px;
}
section.navy h5:first-of-type {
  position: relative;
  top: -10px;
}
section.navy hr {
  position: relative;
  top: -42px;
}
body {
  background-color: #333;
}
body nav .infolink {
  position: fixed;
  z-index: 2;
  top: 0px;
  right: 0px;
  padding-top: 20px;
  padding-right: 20px;
  opacity: 0.25;
}
body nav .infolink:hover {
  opacity: 1;
}
body hr {
  border: 0px;
  border-bottom: 1px solid #000;
  width: 75px;
  margin-bottom: 20px;
}
section {
  width: 100%;
  height: 775px;
  display: inline-block !important;
  box-sizing: border-box;
  position: relative;
  z-index: 0;
}
section .content {
  max-width: 500px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  display: block;
}
section a.src:hover .srcimg {
  visibility: visible;
}
section a.src:hover {
  opacity: 1;
}
section .srcimg {
  visibility: hidden;
  position: absolute;
  bottom: 50px;
  left: -110px;
  z-index: 1;
}
section .src {
  position: absolute;
  bottom: 20px;
  left: 49%;
  opacity: 0.25;
  z-index: 1;
}
@media (max-width: 768px) {
  body nav {
    display: none;
  }
}
