section.topmost {
  background-color: $cream;
  color: $navy;
  position: relative;
  text-align: center;
}
section.topmost .circle {
  position: relative;
  top: -30px;
  display: inline-block;
  height: 600px;
  left: -50px;
  width: 600px;
}
section.topmost .circle .inner {
  position: relative;
  top: 160px;
}
section.topmost .circle .inner h1 {
  position: relative;
  top: -45px;
  font-family: $font-oswald;
  font-size: 40px;
  -webkit-transform: skewY(-15deg) skewX(5deg);
  -ms-transform: skewY(-15deg) skewX(5deg);
  transform: skewY(-15deg) skewX(5deg);
}
section.topmost .circle .inner h1 .inline {
  line-height: 50px;
  padding-top: 10px;
  display: inline-block;
}
section.topmost .circle .inner h1 .inline:first-letter {
  font-weight: 200;
}
section.topmost .circle .inner h1 .smallcaps {
  font-variant: small-caps;
  font-size: 85px;
  letter-spacing: 4px;
}
section.topmost .circle .inner h1 .and {
  display: inline-block;
  vertical-align: top;
  padding-right: 10px;
  padding-top: 4px;
}
section.topmost .circle .inner .bottomright {
  position: relative;
  left: 60px;
  top: -30px;
}
section.topmost .circle .inner .bottomright h2 {
  font-family: $font-oswald;
  font-weight: normal;
  font-size: 22px;
  letter-spacing: 0.5px;
  line-height: 28px;
}
section.topmost .circle .inner .topleft {
  position: relative;
  left: -30px;
  top: -20px;
}
section.topmost .circle .inner .topleft h3 {
  letter-spacing: 2px;
  position: relative;
  top: 0px;
  left: 0px;
  font-family: $font-oswald;
  font-variant: small-caps;
  font-size: 22px;
  line-height: 10px;
}
section.topmost .circle .inner .topleft h3:last-of-type {
  display: inline-block;
  background-color: $cream;
  line-height: 14px;
  padding-bottom: 4px;
  margin-top: 10px;
  position: relative;
  top: -30px;
  left: 10px;
}
section.topmost .circle .inner .topleft h4.script {
  font-family: $font-herr;
  font-weight: 400;
  font-size: 70px;
  display: inline-block;
  position: relative;
  left: -60px;
  top: -7px;
  z-index: -10;
}
section.topmost .circle .warped1 {
  position: absolute;
  top: 40px;
  left: -10px;
}
section.topmost .circle .warped2 {
  position: absolute;
  top: 70px;
  left: -10px;
}
section.topmost .circle .warped1 > span[class^=w]:nth-of-type(n + 0) {
  display: block;
  position: absolute;
  -o-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
}
section.topmost .circle .warped1 span {
  font-family: $font-raleway;
  font-size: 20px;
  line-height: 0.65;
  white-space: pre;
  overflow: visible;
  padding: 0px;
}
section.topmost .circle .warped1 .w0 {
  -o-transform: rotate(-0.72rad);
  -ms-transform: rotate(-0.72rad);
  transform: rotate(-0.72rad);
  width: 18px;
  height: 13px;
  left: 136.87px;
  top: 72.11px;
}
section.topmost .circle .warped1 .w1 {
  -o-transform: rotate(-0.63rad);
  -ms-transform: rotate(-0.63rad);
  transform: rotate(-0.63rad);
  width: 14px;
  height: 13px;
  left: 155.3px;
  top: 59.05px;
}
section.topmost .circle .warped1 .w2 {
  -o-transform: rotate(-0.55rad);
  -ms-transform: rotate(-0.55rad);
  transform: rotate(-0.55rad);
  width: 15px;
  height: 13px;
  left: 171.01px;
  top: 48.21px;
}
section.topmost .circle .warped1 .w3 {
  -o-transform: rotate(-0.47rad);
  -ms-transform: rotate(-0.47rad);
  transform: rotate(-0.47rad);
  width: 15px;
  height: 13px;
  left: 188.47px;
  top: 38.47px;
}
section.topmost .circle .warped1 .w4 {
  -o-transform: rotate(-0.39rad);
  -ms-transform: rotate(-0.39rad);
  transform: rotate(-0.39rad);
  width: 14px;
  height: 13px;
  left: 206.71px;
  top: 30.37px;
}
section.topmost .circle .warped1 .w5 {
  -o-transform: rotate(-0.32rad);
  -ms-transform: rotate(-0.32rad);
  transform: rotate(-0.32rad);
  width: 12px;
  height: 13px;
  left: 224.6px;
  top: 24.16px;
}
section.topmost .circle .warped1 .w6 {
  -o-transform: rotate(-0.25rad);
  -ms-transform: rotate(-0.25rad);
  transform: rotate(-0.25rad);
  width: 12px;
  height: 13px;
  left: 240.92px;
  top: 19.44px;
}
section.topmost .circle .warped1 .w7 {
  -o-transform: rotate(-0.18rad);
  -ms-transform: rotate(-0.18rad);
  transform: rotate(-0.18rad);
  width: 14px;
  height: 13px;
  left: 257.52px;
  top: 15.69px;
}
section.topmost .circle .warped1 .w8 {
  -o-transform: rotate(-0.1rad);
  -ms-transform: rotate(-0.1rad);
  transform: rotate(-0.1rad);
  width: 15px;
  height: 13px;
  left: 276.35px;
  top: 13.09px;
}
section.topmost .circle .warped1 .w9 {
  -o-transform: rotate(-0.04rad);
  -ms-transform: rotate(-0.04rad);
  transform: rotate(-0.04rad);
  width: 5px;
  height: 13px;
  left: 296.31px;
  top: 12.13px;
}
section.topmost .circle .warped1 .w10 {
  -o-transform: rotate(0.02rad);
  -ms-transform: rotate(0.02rad);
  transform: rotate(0.02rad);
  width: 13px;
  height: 13px;
  left: 306.31px;
  top: 12.06px;
}
section.topmost .circle .warped1 .w11 {
  -o-transform: rotate(0.09rad);
  -ms-transform: rotate(0.09rad);
  transform: rotate(0.09rad);
  width: 13px;
  height: 13px;
  left: 324.27px;
  top: 13.15px;
}
section.topmost .circle .warped1 .w12 {
  -o-transform: rotate(0.17rad);
  -ms-transform: rotate(0.17rad);
  transform: rotate(0.17rad);
  width: 14px;
  height: 13px;
  left: 342.1px;
  top: 15.63px;
}
section.topmost .circle .warped1 .w13 {
  -o-transform: rotate(0.25rad);
  -ms-transform: rotate(0.25rad);
  transform: rotate(0.25rad);
  width: 15px;
  height: 13px;
  left: 360.66px;
  top: 19.72px;
}
section.topmost .circle .warped1 .w14 {
  -o-transform: rotate(0.33rad);
  -ms-transform: rotate(0.33rad);
  transform: rotate(0.33rad);
  width: 14px;
  height: 13px;
  left: 379.84px;
  top: 25.31px;
}
section.topmost .circle .warped1 .w15 {
  -o-transform: rotate(0.38rad);
  -ms-transform: rotate(0.38rad);
  transform: rotate(0.38rad);
  width: 5px;
  height: 13px;
  left: 397.91px;
  top: 30.42px;
}
section.topmost .circle .warped1 .w16 {
  -o-transform: rotate(0.44rad);
  -ms-transform: rotate(0.44rad);
  transform: rotate(0.44rad);
  width: 14px;
  height: 13px;
  left: 406.65px;
  top: 36.32px;
}
section.topmost .circle .warped1 .w17 {
  -o-transform: rotate(0.52rad);
  -ms-transform: rotate(0.52rad);
  transform: rotate(0.52rad);
  width: 15px;
  height: 13px;
  left: 423.37px;
  top: 45.46px;
}
section.topmost .circle .warped1 .w18 {
  -o-transform: rotate(0.6rad);
  -ms-transform: rotate(0.6rad);
  transform: rotate(0.6rad);
  width: 12px;
  height: 13px;
  left: 440.49px;
  top: 55.37px;
}
section.topmost .circle .warped1 .w19 {
  -o-transform: rotate(0.67rad);
  -ms-transform: rotate(0.67rad);
  transform: rotate(0.67rad);
  width: 12px;
  height: 13px;
  left: 454.15px;
  top: 65.48px;
}
section.topmost .circle .warped1 .w20 {
  -o-transform: rotate(0.74rad);
  -ms-transform: rotate(0.74rad);
  transform: rotate(0.74rad);
  width: 12px;
  height: 13px;
  left: 467.07px;
  top: 76.52px;
}
section.topmost .circle .warped1 .w21 {
  -o-transform: rotate(0.81rad);
  -ms-transform: rotate(0.81rad);
  transform: rotate(0.81rad);
  width: 12px;
  height: 13px;
  left: 479.21px;
  top: 88.42px;
}
section.topmost .circle .warped2 {
  width: 500px;
}
section.topmost .circle .warped2 > span[class^=w]:nth-of-type(n + 0) {
  display: block;
  position: absolute;
  -o-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50%;
}
section.topmost .circle .warped2 span {
  font-family: $font-raleway;
  font-size: 20px;
  font-style: normal;
  line-height: 0.65;
  white-space: pre;
  overflow: visible;
  padding: 0px;
}
section.topmost .circle .warped2 .w0 {
  -o-transform: rotate(7.29rad);
  -ms-transform: rotate(7.29rad);
  transform: rotate(7.29rad);
  width: 14px;
  height: 13px;
  left: 89.76px;
  top: 354.55px;
}
section.topmost .circle .warped2 .w1 {
  -o-transform: rotate(7.22rad);
  -ms-transform: rotate(7.22rad);
  transform: rotate(7.22rad);
  width: 12px;
  height: 13px;
  left: 100.85px;
  top: 369.45px;
}
section.topmost .circle .warped2 .w2 {
  -o-transform: rotate(7.14rad);
  -ms-transform: rotate(7.14rad);
  transform: rotate(7.14rad);
  width: 15px;
  height: 13px;
  left: 110.83px;
  top: 383.95px;
}
section.topmost .circle .warped2 .w3 {
  -o-transform: rotate(7.07rad);
  -ms-transform: rotate(7.07rad);
  transform: rotate(7.07rad);
  width: 12px;
  height: 13px;
  left: 124.85px;
  top: 397.57px;
}
section.topmost .circle .warped2 .w4 {
  -o-transform: rotate(7rad);
  -ms-transform: rotate(7rad);
  transform: rotate(7rad);
  width: 13px;
  height: 13px;
  left: 137.09px;
  top: 409.55px;
}
section.topmost .circle .warped2 .w5 {
  -o-transform: rotate(6.92rad);
  -ms-transform: rotate(6.92rad);
  transform: rotate(6.92rad);
  width: 14px;
  height: 13px;
  left: 150.95px;
  top: 421.21px;
}
section.topmost .circle .warped2 .w6 {
  -o-transform: rotate(6.85rad);
  -ms-transform: rotate(6.85rad);
  transform: rotate(6.85rad);
  width: 12px;
  height: 13px;
  left: 166.72px;
  top: 431.5px;
}
section.topmost .circle .warped2 .w7 {
  -o-transform: rotate(6.8rad);
  -ms-transform: rotate(6.8rad);
  transform: rotate(6.8rad);
  width: 5px;
  height: 13px;
  left: 181.76px;
  top: 438.5px;
}
section.topmost .circle .warped2 .w8 {
  -o-transform: rotate(6.76rad);
  -ms-transform: rotate(6.76rad);
  transform: rotate(6.76rad);
  width: 5px;
  height: 13px;
  left: 190.55px;
  top: 443.27px;
}
section.topmost .circle .warped2 .w9 {
  -o-transform: rotate(6.7rad);
  -ms-transform: rotate(6.7rad);
  transform: rotate(6.7rad);
  width: 14px;
  height: 13px;
  left: 199.11px;
  top: 449.55px;
}
section.topmost .circle .warped2 .w10 {
  -o-transform: rotate(6.62rad);
  -ms-transform: rotate(6.62rad);
  transform: rotate(6.62rad);
  width: 15px;
  height: 13px;
  left: 216.72px;
  top: 456.77px;
}
section.topmost .circle .warped2 .w11 {
  -o-transform: rotate(6.54rad);
  -ms-transform: rotate(6.54rad);
  transform: rotate(6.54rad);
  width: 12px;
  height: 13px;
  left: 235.88px;
  top: 462.29px;
}
section.topmost .circle .warped2 .w12 {
  -o-transform: rotate(6.48rad);
  -ms-transform: rotate(6.48rad);
  transform: rotate(6.48rad);
  width: 12px;
  height: 13px;
  left: 252.42px;
  top: 466.19px;
}
section.topmost .circle .warped2 .w13 {
  -o-transform: rotate(6.41rad);
  -ms-transform: rotate(6.41rad);
  transform: rotate(6.41rad);
  width: 12px;
  height: 13px;
  left: 269.19px;
  top: 468.95px;
}
section.topmost .circle .warped2 .w14 {
  -o-transform: rotate(6.34rad);
  -ms-transform: rotate(6.34rad);
  transform: rotate(6.34rad);
  width: 12px;
  height: 13px;
  left: 286.11px;
  top: 470.55px;
}
section.topmost .circle .warped2 .w15 {
  -o-transform: rotate(6.28rad);
  -ms-transform: rotate(6.28rad);
  transform: rotate(6.28rad);
  width: 5px;
  height: 13px;
  left: 303.1px;
  top: 470.99px;
}
section.topmost .circle .warped2 .w16 {
  -o-transform: rotate(6.24rad);
  -ms-transform: rotate(6.24rad);
  transform: rotate(6.24rad);
  width: 5px;
  height: 13px;
  left: 313.1px;
  top: 470.85px;
}
section.topmost .circle .warped2 .w17 {
  -o-transform: rotate(6.19rad);
  -ms-transform: rotate(6.19rad);
  transform: rotate(6.19rad);
  width: 14px;
  height: 13px;
  left: 323.07px;
  top: 469.92px;
}
section.topmost .circle .warped2 .w18 {
  -o-transform: rotate(6.11rad);
  -ms-transform: rotate(6.11rad);
  transform: rotate(6.11rad);
  width: 15px;
  height: 13px;
  left: 341.89px;
  top: 467.34px;
}
section.topmost .circle .warped2 .w19 {
  -o-transform: rotate(6.05rad);
  -ms-transform: rotate(6.05rad);
  transform: rotate(6.05rad);
  width: 4px;
  height: 13px;
  left: 361.6px;
  top: 464.45px;
}
section.topmost .circle .warped2 .w20 {
  -o-transform: rotate(6.01rad);
  -ms-transform: rotate(6.01rad);
  transform: rotate(6.01rad);
  width: 5px;
  height: 13px;
  left: 370.3px;
  top: 462.1px;
}
section.topmost .circle .warped2 .w21 {
  -o-transform: rotate(5.96rad);
  -ms-transform: rotate(5.96rad);
  transform: rotate(5.96rad);
  width: 12px;
  height: 13px;
  left: 379.72px;
  top: 458.17px;
}
section.topmost .circle .warped2 .w22 {
  -o-transform: rotate(5.89rad);
  -ms-transform: rotate(5.89rad);
  transform: rotate(5.89rad);
  width: 12px;
  height: 13px;
  left: 395.64px;
  top: 452.22px;
}
section.topmost .circle .warped2 .w23 {
  -o-transform: rotate(5.83rad);
  -ms-transform: rotate(5.83rad);
  transform: rotate(5.83rad);
  width: 4px;
  height: 13px;
  left: 411.52px;
  top: 446.95px;
}
section.topmost .circle .warped2 .w24 {
  -o-transform: rotate(5.8rad);
  -ms-transform: rotate(5.8rad);
  transform: rotate(5.8rad);
  width: 5px;
  height: 13px;
  left: 419.52px;
  top: 442.71px;
}
section.topmost .circle .warped2 .w25 {
  -o-transform: rotate(5.74rad);
  -ms-transform: rotate(5.74rad);
  transform: rotate(5.74rad);
  width: 12px;
  height: 13px;
  left: 427.8px;
  top: 436.12px;
}
section.topmost .circle .warped2 .w26 {
  -o-transform: rotate(5.67rad);
  -ms-transform: rotate(5.67rad);
  transform: rotate(5.67rad);
  width: 15px;
  height: 13px;
  left: 441.83px;
  top: 426.08px;
}
section.topmost .circle .warped2 .w27 {
  -o-transform: rotate(5.59rad);
  -ms-transform: rotate(5.59rad);
  transform: rotate(5.59rad);
  width: 15px;
  height: 13px;
  left: 457.73px;
  top: 413.95px;
}
section.topmost .circle .warped2 .w28 {
  -o-transform: rotate(5.53rad);
  -ms-transform: rotate(5.53rad);
  transform: rotate(5.53rad);
  width: 5px;
  height: 13px;
  left: 473.99px;
  top: 404.04px;
}
section.topmost .circle .warped2 .w29 {
  -o-transform: rotate(5.47rad);
  -ms-transform: rotate(5.47rad);
  transform: rotate(5.47rad);
  width: 12px;
  height: 13px;
  left: 480.08px;
  top: 394.55px;
}
section.topmost .circle .warped2 .w30 {
  -o-transform: rotate(5.42rad);
  -ms-transform: rotate(5.42rad);
  transform: rotate(5.42rad);
  width: 5px;
  height: 13px;
  left: 492.65px;
  top: 384.55px;
}
section.topmost .circle .warped2 .w31 {
  -o-transform: rotate(5.35rad);
  -ms-transform: rotate(5.35rad);
  transform: rotate(5.35rad);
  width: 18px;
  height: 13px;
  left: 496.48px;
  top: 371.68px;
}
section.topmost .circle .warped2 .w32 {
  -o-transform: rotate(5.26rad);
  -ms-transform: rotate(5.26rad);
  transform: rotate(5.26rad);
  width: 15px;
  height: 13px;
  left: 510.11px;
  top: 353.94px;
}
section.topmost .circle .warped2 .w33 {
  -o-transform: rotate(5.21rad);
  -ms-transform: rotate(5.21rad);
  transform: rotate(5.21rad);
  width: 4px;
  height: 13px;
  left: 522.9px;
  top: 341.41px;
}
