doctype html
html

  head
    title Vintage Type
    
    link(rel="stylesheet", type="text/css" href="/css/MyFontsWebfontsKit.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Herr+Von+Muellerhoff|Sacramento|Oswald:700|Krona+One|Cardo:400,700,400italic" type="text/css")      
    link(rel="stylesheet" href="/css/index.css" type="text/css")
    link(rel="stylesheet" href="/css/reset.css" type="text/css")
  body.index
    nav
      a.infolink(href="https://github.com/aprileelcich/vintagetype/blob/gh-pages/README.md")
        img(src="/images/info.svg" width="30px")
        //- .info
        //-   h1 Vintage Type Project
        //-   p this is a thing

    section.furniture
      a.src(href="/images/furniture.jpg")
        img(src="/images/source.svg" height="25px")
        img.srcimg(src="/images/furniture.jpg" width="240px")
      .content
        h1 Furniture
        h1 Polish
        h2 a
        h1 Greaseless
        h3 polish for
        h3 all fine finishes
        h3 &bull;
        h5 8 fl. ounces

    section.songs
      a.src(href="/images/songs.jpg")
        img(src="/images/source.svg" height="25px")
        img.srcimg(src="/images/songs.jpg" width="240px")
      .content
        h1 Two Very Nice Songs
        h1 Good &nbsp;&nbsp; Night.
        p music by
        h1 W. J. D. Leavitt
        p &mdash; Price, 35 Cents &mdash;
        h1 for &bull; sale &bull; by &bull; all &bull; music &bull; dealers   

    section.fish
      a.src(href="/images/fish.jpg")
        img(src="/images/source.svg" height="25px")
        img.srcimg(src="/images/fish.jpg" width="240px")
      .content
        h1 Extra Fine Flash Firecrackers
        h2 Fish
        h3 Brand
        h4 
          | Do not
          br 
          | hold
          br
          | in hand
          br
          | after
          br
          | lighting
        h5 Made in China
        h5 Distributed by W. L. Stewart Co.

    section.kernel
      a.src(href="/images/kernel.jpg")
        img(src="/images/source.svg" height="25px")
        img.srcimg(src="/images/kernel.jpg" width="240px")
      .content
        h1 Be entertained at the
        h2 Funniest
        h3 and
        h4 Screwiest Place
        h5 outside an asylum
        h6 Yes, it's
        h6 "Kernel Lew Mercur's"
        h6 Nut Club

                                