doctype html
html

  head
    title Vintage Type
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-68028521-2', 'auto');
      ga('send', 'pageview');    
    
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Herr+Von+Muellerhoff|Sacramento|Oswald:400|700|Krona+One|Cardo:400,700,400italic|Raleway:800,900,700" 
    type="text/css")     
    link(rel="stylesheet" href="./css/index.css" type="text/css")
    link(rel="stylesheet" href="./css/reset.css" type="text/css")
    meta(charset="utf-8")
    meta(name="viewport", content="initial-scale=.75")      

  body.index
    nav
      a.infolink(href="http://www.officinacreative.ca/vintagetype.html")
        img(src="./images/info.svg" width="30px")

    //- //- topmost

    //- section.topmost
    //-   a.src(href="https://www.instagram.com/p/7O2l4ty0v4/?taken-by=jealousofjordan")
    //-     img(src="./images/source.svg" height="25px")
    //-     img.srcimg(src="./images/topmost.jpg" width="250px")
    //-   .content
    //-     .circle
    //-       .inner
    //-         .topleft
    //-           h3 General Grocer Co.
    //-           h3 Distributors
    //-           h4.script of
    //-         h1
    //-           span.smallcaps.inline American&nbsp;
    //-           span.smallcaps.inline Lady
    //-         h1 
    //-           span.and and 
    //-           span.smallcaps.inline Top&nbsp;
    //-           span.smallcaps.inline Most
    //-         .bottomright
    //-           h2 Better
    //-           h2 Food Products

    //-       .warped1
    //-         span.w0 M
    //-         span.w1 A
    //-         span.w2 N
    //-         span.w3 H
    //-         span.w4 A
    //-         span.w5 T
    //-         span.w6 T
    //-         span.w7 A
    //-         span.w8 N
    //-         span.w9  
    //-         span.w10 B
    //-         span.w11 R
    //-         span.w12 A
    //-         span.w13 N
    //-         span.w14 D
    //-         span.w15  
    //-         span.w16 C
    //-         span.w17 O
    //-         span.w18 F
    //-         span.w19 F
    //-         span.w20 E
    //-         span.w21 E
    //-       .warped2
    //-         span.w0 G
    //-         span.w1 E
    //-         span.w2 N
    //-         span.w3 E
    //-         span.w4 R
    //-         span.w5 A
    //-         span.w6 L
    //-         span.w7  
    //-         span.w8  
    //-         span.w9 C
    //-         span.w10 O
    //-         span.w11 F
    //-         span.w12 F
    //-         span.w13 E
    //-         span.w14 E
    //-         span.w15  
    //-         span.w16  
    //-         span.w17 C
    //-         span.w18 O
    //-         span.w19 .
    //-         span.w20  
    //-         span.w21 S
    //-         span.w22 T
    //-         span.w23 .
    //-         span.w24  
    //-         span.w25 L
    //-         span.w26 O
    //-         span.w27 U
    //-         span.w28 I
    //-         span.w29 S
    //-         span.w30  
    //-         span.w31 M
    //-         span.w32 O
    //-         span.w33 .
    
    //- //- alum

    //- section.alum
    //-   a.src
    //-     img(src="./images/source.svg" height="25px")
    //-     img.srcimg(src="./images/alum.jpg" width="250px")
    //-   .content
    //-     h2 "Be Fit . . Not Fat"
    //-     h3 Darrell E. Wallen's
    //-     h1 Alum Rock Stables
    //-     h2 "Ride For Health"
    //-     h3 Horses Rented, Sold, Boarded, Gaited
    //-     h3 And High Schooled
    //-     h4 Entrance to Alum Rock Park
    //-     h4 Mayfair 2160
    
    //- crax

    section.crax
      a.src
        img(src="./images/source.svg" height="25px")
        img.srcimg(src="./images/crax.jpg" width="250px")
      .content
        h3 Loudest
        h3 Flashlight
        h3 Firecrackers
        h4 After lighting, Do not hold in hand
        h1.skew-left Crax 
        h1.skew-right Boy
        p 50
        h2 Chan Tai Kee
        h2 Made In China

    //- mississippi

    section.mississippi
      a.src
        img(src="./images/source.svg" height="25px")
        img.srcimg(src="./images/mississippi.jpg" width="250px")
      .content
        h1 Ohio
        h3 and
        h1 Mississippi
        h1.railway Railway.
        h5 Direct &bull; Route
        h4 Between The
        h2 East 
        h2.angled 
          span(class="a") A
          span(class="n") N
          span(class="d") D
        h2 West
        br
        .col1
          h5 W. W. Peabody,
          p General Superintendent
          p CINCINNATI, Ohio.
        .col2
          h5 W. B. Shattuc,
          p General Passenger Agent
          p CINCINNATI, Ohio.

    //- blazing

    section.blazing
      a.src
        img(src="./images/source.svg" height="25px")
        img.srcimg(src="./images/blazing.jpg" width="250px")
      .content
        h5 Do not hold in hand &nbsp;&nbsp; after lighting
        h1.script "Blazing Star"
        h2 Brand
        h4 Flashlight &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Firecrackers
        h4 Super &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Charged
        p 1
        p.frac1 &nbsp;5&nbsp;
        p.frac2 &nbsp;8&nbsp;
        p 20
        h4 Specially For
        h3 Wallace Clark Co. Inc.
        h4 Chicago, Illinois
        h5 Made in Portuguese Macau

    //- cuddle

    section.cuddle
      a.src(href="https://www.instagram.com/p/4tCHo4S0gq/?taken-by=jealousofjordan")
        img(src="./images/source.svg" height="25px")
        img.srcimg(src="./images/cuddle.jpg" width="240px")
      .content
        h1 Q
        h1.dot1 .
        h1 R 
        h1.dot2 .
        h1 S
        p TradeMarkReg.
        h3 Word Roll
        h3 790 9
        h4 144
        h2 Cuddle Up A Little Closer
        h2 Lovey Mine
        p Fox Trot
        p Played by Frank Milne
        p &copy; Witmark '32
        p Printed in U.S.A.

    //- furniture

    section.furniture
      a.src
        img(src="./images/source.svg" height="25px")
        img.srcimg(src="./images/furniture.jpg" width="240px")
      .content
        h2 Furniture
        h2 Polish
        h3 a
        h2.script Greaseless
        h4 polish for
        h4 all fine finishes
        h4 &bull;
        h4 8 fl. ounces

    //- songs

    section.songs
      a.src
        img(src="./images/source.svg" height="25px")
        img.srcimg(src="./images/songs.jpg" width="240px")
      .content
        h2 Two Very Nice Songs
        h4 Good &nbsp;&nbsp; Night.
        p music by
        h5 W. J. D. Leavitt
        p &mdash; Price, 35 Cents &mdash;
        h4 for &bull; sale &bull; by &bull; all &bull; music &bull; dealers   

    //- fish

    section.fish
      a.src
        img(src="./images/source.svg" height="25px")
        img.srcimg(src="./images/fish.jpg" width="240px")
      .content
        h3 Extra Fine Flash Firecrackers
        h1 Fish
        h4 Brand
        h6 
          | Do not
          br 
          | hold
          br
          | in hand
          br
          | after
          br
          | lighting
        h4 Made in China
        h3 Distributed by W. L. Stewart Co.

    //- kernel

    section.kernel
      a.src
        img(src="./images/source.svg" height="25px")
        img.srcimg(src="./images/kernel.jpg" width="240px")
      .content
        h3 Be entertained at the
        h2 Funniest
        h3 and
        h2 Screwiest Place
        h3 outside an asylum
        h3 Yes, it's
        h4.script &ldquo;&nbsp;Kernel&nbsp;&rdquo;
          span Lew&nbsp;Mercur's
        h2 Nut Club

    //- navy

    section.navy
      a.src
        img(src="./images/source.svg" height="25px")
        img.srcimg(src="./images/navy.jpg" width="240px")
      .content
        p.first Riders
        h5 packed in
        h2.script Gail &amp; Ax's
        h1 Navy
        h3 Long
        h3 Cut
        p The best 
          span Smoking
        p &amp; Chewing Tobacco
        hr
        h5 manufactured by
        h5 The American Tobacco Co.,
        h5 Successor
        h4 Baltimore, MD

