doctype html
html

  head
    title Vintage Type
    
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Herr+Von+Muellerhoff|Sacramento|Oswald:700|Krona+One|Cardo:400,700,400italic|Raleway:800,900,700" 
    type="text/css")     
    link(rel="stylesheet" href="./css/index.css" type="text/css")
    link(rel="stylesheet" href="./css/reset.css" type="text/css")
  body.index
    nav
      a.infolink(href="https://github.com/aprileelcich/vintagetype/blob/gh-pages/README.md")
        img(src="./images/info.svg" width="30px")
        //- .info
        //-   h1 Vintage Type Project
        //-   p this is a thing

    section.furniture
      a.src
        img(src="./images/source.svg" height="25px")
        img.srcimg(src="./images/furniture.jpg" width="240px")
      .content
        h2 Furniture
        h2 Polish
        h3 a
        h2.script Greaseless
        h4 polish for
        h4 all fine finishes
        h4 &bull;
        h4 8 fl. ounces

    section.songs
      a.src
        img(src="./images/source.svg" height="25px")
        img.srcimg(src="./images/songs.jpg" width="240px")
      .content
        h2 Two Very Nice Songs
        h4 Good &nbsp;&nbsp; Night.
        p music by
        h5 W. J. D. Leavitt
        p &mdash; Price, 35 Cents &mdash;
        h4 for &bull; sale &bull; by &bull; all &bull; music &bull; dealers   

    section.fish
      a.src
        img(src="./images/source.svg" height="25px")
        img.srcimg(src="./images/fish.jpg" width="240px")
      .content
        h3 Extra Fine Flash Firecrackers
        h1 Fish
        h4 Brand
        h6 
          | Do not
          br 
          | hold
          br
          | in hand
          br
          | after
          br
          | lighting
        h4 Made in China
        h3 Distributed by W. L. Stewart Co.

    section.kernel
      a.src
        img(src="./images/source.svg" height="25px")
        img.srcimg(src="./images/kernel.jpg" width="240px")
      .content
        h3 Be entertained at the
        h2 Funniest
        h3 and
        h2 Screwiest Place
        h3 outside an asylum
        h3 Yes, it's
        h4.script &ldquo;&nbsp;Kernel&nbsp;&rdquo;
          span Lew&nbsp;Mercur's
        h2 Nut Club

    section.navy
      a.src
        img(src="./images/source.svg" height="25px")
        img.srcimg(src="./images/navy.jpg" width="240px")
      .content
        p.first Riders
        h5 packed in
        h2.script Gail &amp; Ax's
        h1 Navy
        h3 Long
        h3 Cut
        p The best 
          span Smoking
        p &amp; Chewing Tobacco
        hr
        h5 manufactured by
        h5 The American Tobacco Co.,
        h5 Successor
        h4 Baltimore, MD

