section.kernel {
  background-color: $red;
  text-transform: uppercase;
}
section.kernel h2 {
  font-family: $font-oswald;
  letter-spacing: 1px;
}
section.kernel h3 {
  font-weight: 800;
  font-size: 26px;
  letter-spacing: 2px;
}
section.kernel h3:last-of-type {
  padding-top: 20px;
  font-weight: 900;
}
section.kernel .script {
  font-family: $font-herr;
  text-transform: none;
  font-size: 55px;
  line-height: 40px;
  padding-top: 15px;
}
section.kernel .script span {
  position: relative;
  left: -12px;
}
