body  
  // font rendering 
  text-rendering optimizeLegibility
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  -webkit-font-variant-ligatures common-ligatures
  font-variant-ligatures common-ligatures
  -moz-font-feature-settings "kern=1"
  -webkit-font-feature-settings "kern"
  -moz-font-feature-settings "kern"
  font-feature-settings "kern"
  font-kerning normal
  
  //base typography  
  
  color $gray
      
  p
    font-family $font-cardo
    
  h1, h2, h3, h4, h5, h6
    margin 0px
    font-family $font-raleway
    
  h1
    font-size 56px
  h2
    font-size 46px
  h3
    font-size 36px
  h4
    font-size 26px
  h5
    font-size 16px
  h6
    font-size 12px