section.furniture
  background-color $mustard
  
  h2, h3, h4
    text-transform uppercase
    letter-spacing 6px
    font-weight 900
  
  .script
    font-family $font-sacramento
    text-transform none
    font-weight normal
    font-size 100px
    line-height 30px
    letter-spacing 0px
    padding-bottom 20px
    padding-right 18px
    color $red
  
  h3
    line-height 54px
  h4
    font-weight 900
    letter-spacing 3px
    line-height 34px

  h4:last-of-type
    font-size 12px
    letter-spacing 2px
    line-height 20px
    