section.jello
  background-color $paper
  text-transform uppercase
  color darken($navy, 20%)
  
  p 
    font-family $font-krona
    font-size 14px
    letter-spacing 2px
    
    -webkit-transform translate(-100px) rotate(-20deg)
    -webkit-transform-origin 0px
    transform translate(-100px) rotate(-20deg)
    transform-origin 0px 0px
    
    position relative
    
  p.one
    top 115px
    
  p.two
    left 110px
    top 90px
    
  p.three
    left 220px
    top 60px
  
  h1
    color $red
    font-size 120px
    font-weight 800
    letter-spacing 4px
    line-height 120px
    
  h1:first-letter
    font-size 140px

  h2
    font-size 14px
    font-family $font-krona
    font-weight normal
    letter-spacing 4px
    
  h2.strawberry
    font-size 24px
    letter-spacing 1px
    color $red
    border-bottom 2px solid $red
    display inline-block
    padding-bottom 6px
    padding-top 6px
    margin-bottom 20px
    
  h3
    font-family $font-oswald
    font-weight normal
    position absolute
    top 290px
    left 20px
  h3:last-of-type
    left 400px
    
  h4
    font-size 14px
    line-height 20px
    font-family $font-krona
    font-weight normal
    
  h4.smallcaps
    font-variant small-caps
    text-transform none
    font-size 20px
    margin-bottom 20px
    margin-top 10px
    
  h5
    font-family $font-krona
    font-size 10px 
    font-weight normal
    letter-spacing 4px
    color $red