section.kernel
  background-color $red
  text-transform uppercase
  
  h2
    font-family $font-oswald
    letter-spacing 1px
    
  h3
    font-weight 800
    font-size 26px
    letter-spacing 2px
    &:last-of-type
      padding-top 20px
      font-weight 900
  
  .script
    font-family $font-herr
    text-transform none
    font-size 55px
    line-height 40px
    padding-top 15px
    span
      position relative
      left -12px
    