section.mississippi
  background-color $cream
  
  h1
    font-family $font-oswald
    font-variant small-caps
    font-size 90px
    font-weight bold
    letter-spacing 6px
    line-height 70px
  h1:first-letter
    font-weight normal
    font-size 106px
    vertical-align middle
  h1.railway
    position relative
    font-size 60px
    left 40px
  h1.railway:first-letter
    font-size 74px
    
  h2
    text-transform uppercase
    font-weight 900
    font-size 44px
    letter-spacing 4px
    display inline
    
  h2.angled
    padding-right 10px
    font-size 24px 
    span 
      position relative
      top -4px
    .a
      vertical-align sub      
    .n
      vertical-align text-bottom
    .d
      vertical-align super

  h3
    font-weight 900
    text-transform uppercase
    font-size 26px
    letter-spacing 3px
    position relative
    left 50px
    top 6px
    
  h4
    font-weight normal
    text-transform uppercase
    font-size 16px
    letter-spacing 2px
    padding-bottom 10px
  h5
    text-transform uppercase
    font-size 20px
    font-family $font-krona
    font-weight normal
    font-size 20px
    letter-spacing 4px
    line-height 40px
    padding-top 20px    
    
  .col1,
  .col2
    line-height 10px
    display inline-block
    margin-top 30px
    h5
      font-size 9px
      line-height 9px
      padding-top 10px
    p
      font-size 10px
    p:last-of-type
      font-size 10px
      letter-spacing 1px
      font-weight bold
      
  .col1
    padding-right 20px
    border-right 1px solid $gray
  .col2
    padding-left 20px
    