section.navy
  background-color $paper
  text-transform uppercase
  
  p.first
    text-transform none
    font-variant small-caps  
    font-weight bold
    font-size 34px
    letter-spacing 4px
    line-height 0px
  p:not(.first)
    text-transform none
    position relative
    top -60px
    font-size 28px
    line-height 0px
    font-style italic
    span 
      text-transform uppercase
      font-style normal
  p:last-of-type
    text-transform uppercase
    font-size 20px
    font-style normal
    
  h1 
    font-weight 900
    letter-spacing 4px
    position relative
    left -46px
    padding-bottom 10px
    top -10px
  h2.script
    font-family $font-herr
    font-weight normal
    text-transform none
    font-size 70px
    line-height 70px
  h3
    font-family $font-krona
    font-weight normal
    font-size 18px
    line-height 18px
    letter-spacing 3px
    position relative
    top -70px
    left 115px
    display inline-block
    
  h3:last-of-type
    position relative
    top -50px
    left 45px
     
  h4
    font-size 20px
    letter-spacing 1px
    position relative
    top -20px
  h5
    font-family $font-krona
    font-weight normal
    font-size 10px
    letter-spacing 3px
    position relative
    top -36px
    line-height 16px
  h5:first-of-type
    position relative
    top -10px
    
  hr 
    position relative
    top -42px