// fonts

$font-avantgarde-book = "AvantGardeGothicITCW01Bk", sans-serif
$font-avantgarde-demi = "AvantGardeGothicITCW02Dm", sans-serif
$font-avantgarde-bold = "AvantGardeGothicITCW01Bd", sans-serif
$font-herr = "Herr Von Muellerhoff", cursive
$font-sacramento = "Sacramento", cursive
$font-oswald = "Oswald", sans-serif
$font-krona = "Krona One", sans-serif
$font-cardo = "Cardo", serif

// colors

$black = rgba(0, 0, 0, 1)
$white = rgba(255, 255, 255, 1)
$gray = rgba(51, 51, 51, 1)

$cream = rgba(236, 225, 198, 1)
$paper = rgba(235, 209, 183, 1)
$mustard = rgba(221, 182, 96, 1)
$turmeric = rgba(223, 139, 44, 1)
$red = rgba(212, 44, 44, 1)
$rose = rgba(216, 97, 97, 1)
$blush = rgba(229, 191, 171, 1)
$lilac = rgba(201, 160, 220, 1)
$turquoise = rgba(128, 168, 156, 1)
$cobalt = rgba(92, 124, 187, 1)
$cornflower = rgba(175, 195, 198, 1)
$mint = rgba(118, 160, 126, 1)

// devices

$smartphone = '(max-width: 480px)'
$mobile-devices = '(max-width: 768px)'
$tablet = '(min-width: 481px) and (max-width: 1023px)'
$desktop = '(min-width: 1023px)'
$desktop-wide = '(min-width: 1200px)'
